input,
textarea {
  margin-block: 7px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--th-primary-color, map-get($colors, "primary"));
  background-color: var(--th-sourface-color);
  color: var(--th-text-on-sourface);
}

input[type="checkbox"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--th-primary-color, map-get($colors, "primary"));
  accent-color: var(--th-primary-color);
}

input[type="checkbox"]:checked {
  background-color: var(--th-primary-color);
  accent-color: var(--th-primary-color);
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid var(--th-text-on-primary);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 2px;
  margin-top: -1px;
}

input[type="radio"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 1px solid var(--th-primary-color, map-get($colors, "primary"));
  accent-color: var(--th-primary-color);
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  display: block;
  height: 15px;
  width: 15px;
  position: relative;
  left: -2px;
  top: -2px;
  background: var(--th-primary-color);
  border-radius: 100%;
  content: "";
}