$colors: (
  "primary": #42c985,
  "secondary": #bd42ce,
  "success": #42c94d,
  "info": #4061f3,
  "danger": #f34542,
  "warning": #f0f342,
  "highlight": #f3a540,
  "sourface": rgb(240, 241, 243),
);

$text-color: hsl(0, 0%, 17%);

$border-radius: 0px;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 16px;