:root {
    --th-base-main-color: 153, 47%;
    --th-base-main-color-brighness: 46;
    --th-main-color: hsl(var(--th-base-main-color), calc(var(--th-base-main-color-brighness) * 1%));
    --th-main-color-light: hsl(var(--th-base-main-color), calc((var(--th-base-main-color-brighness) + 20) * 1%));
    --th-main-color-dark: hsl(var(--th-base-main-color), calc((var(--th-base-main-color-brighness) - 20) * 1%));

    --th-base-secondary-color: 298, 52%;
    --th-base-secondary-color-brighness: 56;
    --th-secondary-color: hsl(var(--th-base-secondary-color), calc(var(--th-base-secondary-color-brighness) * 1%));
    --th-secondary-color-light: hsl(var(--th-base-secondary-color), calc((var(--th-base-secondary-color-brighness) + 20) * 1%));
    --th-secondary-color-dark: hsl(var(--th-base-secondary-color), calc((var(--th-base-secondary-color-brighness) - 20) * 1%));

    --th-base-highlight-color: 27, 91%;
    --th-base-highlight-color-brighness: 56;
    --th-highlight-color: hsl(var(--th-base-highlight-color), calc(var(--th-base-highlight-color-brighness) * 1%));
    --th-highlight-color-light: hsl(var(--th-base-highlight-color), calc((var(--th-base-highlight-color-brighness) + 20) * 1%));
    --th-highlight-color-dark: hsl(var(--th-base-highlight-color), calc((var(--th-base-highlight-color-brighness) - 20) * 1%));

    --th-text-color: hsl(0, 0%, 24%);

    --th-text-on-main: hsl(0, 0%, calc(clamp(24, calc((var(--th-base-main-color-brighness) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-main-light: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-main-color-brighness) + 20) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-main-dark: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-main-color-brighness) - 20) / 100 - 0.6) * -100000), 100) * 1%));

    --th-text-on-secondary: hsl(0, 0%, calc(clamp(24, calc((var(--th-base-secondary-color-brighness) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-secondary-light: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-secondary-color-brighness) + 20) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-secondary-dark: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-secondary-color-brighness) - 20) / 100 - 0.6) * -100000), 100) * 1%));

    --th-text-on-highlight: hsl(0, 0%, calc(clamp(24, calc((var(--th-base-highlight-color-brighness) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-highlight-light: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-highlight-color-brighness) + 20) / 100 - 0.6) * -100000), 100) * 1%));
    --th-text-on-highlight-dark: hsl(0, 0%, calc(clamp(24, calc(((var(--th-base-highlight-color-brighness) - 20) / 100 - 0.6) * -100000), 100) * 1%));

    --th-border-radius: 16px;
    --th-font-family: Arial, Helvetica, sans-serif;
    --th-font-size: 16px;
}

[v-cloak] {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: var(--th-font-family, "Arial");
    font-size: var(--th-font-size, 16px);
    color: var(--th-text-color, #3d3d3d);
}

/* Layout */

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1200px;
    --breakout-max-width: 1400px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
            var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

/* ----------------- Background colors ----------------- */

/* Main */
.bg-main {
    background-color: var(--th-main-color, hsl(153, 47%, 49%));
}

.bg-main-light {
    background-color: var(--th-main-color-light, hsl(153, 47%, 69%));
}

.bg-main-dark {
    background-color: var(--th-main-color-dark, hsl(153, 47%, 29%));
}

/* Secondary */
.bg-secondary {
    background-color: var(--th-secondary-color, hsl(298, 52%, 56%));
}

.bg-secondary-light {
    background-color: var(--th-secondary-color-light, hsl(298, 52%, 76%));
}

.bg-secondary-dark {
    background-color: var(--th-secondary-color-dark, hsl(298, 52%, 36%));
}

/* Highlight */
.bg-highlight {
    background-color: var(--th-highlight-color, hsl(27, 91%, 56%));
}

.bg-highlight-light {
    background-color: var(--th-highlight-color-light, hsl(27, 91%, 76%));
}

.bg-highlight-dark {
    background-color: var(--th-highlight-color-dark, hsl(27, 91%, 36%));
}

/* ----------------- Text colors ----------------- */

.text-white {
    color: white;
}

.text-black {
    color: #3d3d3d;
}

/* Main */
.text-main {
    color: var(--th-text-main, #3d3d3d);
}

.text-on-main {
    color: var(--th-text-on-main, white);
}

.text-on-main-light {
    color: var(--th-text-on-main-light, #3d3d3d);
}

.text-on-main-dark {
    color: var(--th-text-on-main-dark, white);
}

/* Secondary */
.text-on-secondary {
    color: var(--th-text-on-secondary, white);
}

.text-on-secondary-light {
    color: var(--th-text-on-secondary-light, #3d3d3d);
}

.text-on-secondary-dark {
    color: var(--th-text-on-secondary-dark, white);
}

/* Highlight */
.text-on-highlight {
    color: var(--th-text-on-highlight, white);
}

.text-on-highlight-light {
    color: var(--th-text-on-highlight-light, #3d3d3d);
}

.text-on-highlight-dark {
    color: var(--th-text-on-highlight-dark, white);
}

/* Navigation */

.main-navigation {
    background-color: var(--th-main-color, hsl(153, 47%, 49%));
    color: var(--th-text-on-main, white);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 100;
}

.main-navigation input[type="checkbox"] {
    display: none;
}

.navbar-fixed {
    position: sticky;
    top: 0px;
}

.main-navigation .navbar-logo {
    display: flex;
    align-items: center;
}

.main-navigation .navbar-logo img {
    height: 60px;
}

.main-navigation>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.main-navigation>ul>li>a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

.main-navigation>ul>li>a:hover {
    color: var(--th-text-on-main-dark, white);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .main-navigation .navbar-logo img {
        height: 40px;
    }

    .main-navigation>ul {
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: var(--th-main-color-dark, hsl(153, 47%, 29%));
        width: 100%;
        left: 0px;
        z-index: 99;
        gap: 0px;
    }

    .main-navigation>ul {
        transition: all 0.3s ease-in-out;
    }

    .main-navigation input[type="checkbox"] {
        display: block;
    }

    .main-navigation input[type="checkbox"]:not(:checked)~ul {
        max-height: 0px;
        padding: 0px;
        opacity: 0;
        pointer-events: none;
    }

    .main-navigation input[type="checkbox"]:checked~ul {
        max-height: 400px;
        opacity: 1;
        pointer-events: all;
    }

    .main-navigation>ul>li {
        text-align: center;
        border-bottom: 1px solid var(--th-text-on-main, white);
    }

    .main-navigation>ul>li>a {
        display: block;
        padding: 10px 0px;
    }

    .main-navigation>ul>li>a:hover {
        text-decoration: none;
    }

    .hamburger {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        height: 3px;
        width: 100%;
        background: #333;
        display: block;
        top: 50%;
        margin-top: -1px;
        transition: all 0.3s ease;
    }


    #menu-toggle {
        display: none;
    }

    #menu-toggle+.hamburger span:nth-child(1) {
        transform: translateY(-8px);
    }

    #menu-toggle+.hamburger span:nth-child(2) {
        transform: translateY(0);
    }

    #menu-toggle+.hamburger span:nth-child(3) {
        transform: translateY(8px);
    }

    #menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
    }

    #menu-toggle:checked+.hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(0px) rotate(-45deg);
    }

}